* {
	margin: 0;
	padding: 0;
}
.hero {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(93, 32, 103, 1));
	background-position: center;
	background-size: cover;
	position: absolute;
	font-family: sans-serif;
}

.form-box {
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(93, 32, 103, 1));
	padding: 5px;
	overflow: hidden;
}

.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	color: #999;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    /* background-color: #faf7ff; */
    border: 0;
    outline: none;
    position: relative;
}
#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #6629bb, #eca30f);
	border-radius: 30px;
	transition: 0.5s;
}

.social-icons {
	margin: 30px auto;
	text-align: center;
	background-color: transparent;
}

.social-icons img {
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #ff61241f;
	cursor: pointer;
	border-radius: 50%;
}

.social-icons img:hover {
	box-shadow: 1px 0px 0px 11px #ff61241f;
}

.google-btn{
    width: 15%;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    background: transparent ;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: linear-gradient(to right,#6629bb, #eca30f);
}

.input-group {
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
    color: white;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#6629bb, #eca30f);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}

.check-box {
	margin: 30px 10px 30px 0;
}

span {
	color: #777;
	font-size: 12px;
	bottom: 64px;
	position: absolute;
}

#login {
	left: 50px;
}

#register {
	left: 450px;
}
