:root {
	background-image: linear-gradient(
		to bottom,
		#3c1542,
		#231625,
		#21252b
	) !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #21252b;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(122, 38, 122);
	border-radius: 5px;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
	margin-right: 20px;
  -webkit-filter: brightness(100%);
}

img:hover {
	box-shadow: 0 0 8px 4px rgba(83, 84, 86, 0.5);
  -webkit-filter: brightness(65%);
}

.content {
	display: inline-block;
	position: relative;
}

.content svg {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

main{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  width: 190px;
  top: 70%;
  left: 50%;
  margin-left: -95px;

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.modal-button-one {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.flex2 {
  display:flex;
  /* margin-right: 10px; */
}

.carousel-card-two{
  object-position: left;
}

.search{
  background-color: #373338;
  margin-top: 5%;
  margin-left: 40%;
  border: 2px solid white;
  padding:0.5rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  color:rgb(16, 10, 10);
  font-family: inherit;
}


.search:focus{
  outline:0;
  background-color: white;
}

.search::placeholder{
  color: #e4e4e4;
}

.search-icon {
	border: none;
}

  .button {
    position: relative;
  }
  
  .carousel {
    height: 335px;
  }

  .trending-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    margin-right: 20px;   /* Horizontal Space */ 
  }

  .modal-button {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
  }

  .addtolist {
    position: absolute;
    right: 0;
    bottom: 0;
	  background: #fff;
  }

  .carousel {
	  height: 500px;
  }

  .card {
	  width: 960px;
	  height: 400px;
  }

  .tabs {
    object-position: 50%;
  }

  .card-trailer {
    height: 170px;
    width: 300px;
  }

  .container-trailer {
    object-position: right;
  }

  .trailer-btn {
    -webkit-filter: opacity(0%);
  }

  .trailer-btn:hover{
    -webkit-filter: opacity(100%);
    -webkit-filter: brightness(100%);
  }

  .carousel-card-body {
    height: 300;
    width: 1000;
  }

  .carousel-card {
    width: 700;
  }
 /*  .carousel-card {
    height: 170px;
    width: 300px;
  } */

  main, #tv{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav{
  position: fixed;
  z-index: 3;
}

#footer {
  background: linear-gradient(0deg, rgb(17, 7, 18), rgb(48, 24, 51));
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .browse, footer .menu
{
  position: relative;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .browse li,
footer .menu li
{
  list-style: none;
}

footer .browse li a,
footer .menu li a
{
  align-items: center;
  color: #bab5cf;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .browse li a:hover,
footer .menu li a:hover
{
  transform: translateY(-2px);
  opacity: 1;
}

footer p{
  color: #bab5cf;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
#pageTitle {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto; 
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 60px;
}

#genreTags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto; 
}

.btn.glass.highlight {
  background-color: purple;
}

#pageButton{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto; 
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  width: 190px;
  top: 70%;
  left: 50%;
  margin-left: -95px;

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.modal-button-one {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
