:root {
	background-image: linear-gradient(
		to bottom,
		#3c1542,
		#231625,
		#21252b
	) !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #21252b;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(122, 38, 122);
	border-radius: 5px;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
	margin-right: 20px;
  -webkit-filter: brightness(100%);
}

img:hover {
	box-shadow: 0 0 8px 4px rgba(83, 84, 86, 0.5);
  -webkit-filter: brightness(65%);
}

.content {
	display: inline-block;
	position: relative;
}

.content svg {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
/* .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (min-width: 1280px) {
  .container {
      max-width: 100% !important;
  }
} */

main{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search{
  background-color: #373338;
  border: 2px solid white;
  padding:0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color:rgb(16, 10, 10);
  font-family: inherit;
}

/* .pagination{
  display:flex;
  margin:10px 30px;
  align-items: center;
  justify-content: center;
  color:white;
}

.page{
  padding:20px;
  cursor:pointer;
}

.page.disabled{
  cursor:not-allowed;
  color:grey;
} */
.search:focus{
  outline:0;
  background-color: white;
}

.search::placeholder{
  color: #e4e4e4;
}

.search-icon {
	border: none;
}

  .button {
    position: relative;
  }
  
  .carousel {
    height: 250px;
  }

  .trending-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    margin-right: 20px;   /* Horizontal Space */ 
  }

  .modal-button {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
  }

  .addtolist {
    position: absolute;
    right: 0;
    bottom: 0;
	  background: #fff;
  }

  .carousel {
	  height: 500px;
  }

  .card {
	  width: 970px;
	  height: 400px;
  }

  .tabs {
    object-position: 50%;
  }

  .card-trailer {
    height: 170px;
    width: 300px;
  }

  .container-trailer {
    object-position: right;
  }

  .trailer-btn {
    -webkit-filter: opacity(0%);
  }

  .trailer-btn:hover{
    -webkit-filter: opacity(100%);
    -webkit-filter: brightness(100%);
  }

  main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav{
  position: fixed;
  z-index: 3;
}

#footer {
  background: linear-gradient(0deg, rgb(17, 7, 18), rgb(48, 24, 51));
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .browse, footer .menu
{
  position: relative;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .browse li,
footer .menu li
{
  list-style: none;
}

footer .browse li a,
footer .menu li a
{
  align-items: center;
  color: #bab5cf;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .browse li a:hover,
footer .menu li a:hover
{
  transform: translateY(-2px);
  opacity: 1;
}

footer p{
  color: #bab5cf;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
