:root {
	background-image: linear-gradient(
		to bottom,
		#5d2067,
		#231625,
		#21252b
	) !important;
}


img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
	margin-right: 20px;
}

img:hover {
	box-shadow: 0 0 8px 4px rgba(83, 84, 86, 0.5);
}

.content {
	display: inline-block;
	position: relative;
}

.content svg {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (min-width: 1280px) {
  .container {
      max-width: 100% !important;
  }
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #373338;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-top: 50px;
  border: 2px solid white;
  width: 340px;
}

.search-btn{
  color: #6c56c7;
  float: right;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #fff;
	font-size: 20px;
	transition: 0.4s;
	line-height: 25px;
	width: 300px;
}

.search-icon {
	border: none;
}

  .button {
    position: relative;
  }
  
  .carousel {
    height: 250px;
  }

  .trending-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 160px;
    margin-right: 20px;   /* Horizontal Space */ 
  }

  .modal-button {
    background-image: url(https://media1.citybeat.com/citybeat/imager/u/zoom/13852906/dont-worry-darling.jpg?cb=1663232148);
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 250px;
    background-repeat: no-repeat;
  }

  .modal-button1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWsNhTsRFsqj4YIL4ClubNE1tVaRbkXEwLK8AjH9aa1XpbzxeR);
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 250px;
    background-repeat: no-repeat;
  }

  .modal-button2 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSsb_4zvHo_naaktE9hFBJHVNee2i-O5I74mnyYNJhKWQf039p);
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 250px;
    background-repeat: no-repeat;
  }

  .modal-button3 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfbwniK5xxGTYRXttN-c286JlX6QBi0XS5tsF97aJ6bAWIv5HE);
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 250px;
    background-repeat: no-repeat;
  }

  .modal-button4 {
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQbNJAbGvuIaKs4Gorgdmu0F64RJzUgMK13glIwNpCWmtcp2UAN);
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 250px;
    background-repeat: no-repeat;
  }

  .modal-button5 {
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRsKaCeVjWLIVjuPriyFDRn4NNMF0wbS-6ZKGRDK83hqH16J-GW);
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 250px;
    background-repeat: no-repeat;
  }

  .modal-button6 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjkbBqL3POWZb7EJmte1wpdZRJkE5_pkV532SF_-zl8LH2mN3a);
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 250px;
    background-repeat: no-repeat;
  }

  .addtolist {
    position: absolute;
    right: 0;
    bottom: 0;
	  background: #fff;
  }
